<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pendaftaran SRE Ditolak</title>
  </head>
  <body>
    <!-- HEADER -->
    <header
      class="header"
      style="
        margin: 40px auto;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <img
        src="https://storage.googleapis.com/ekuid-assets/Icon/logo-ekuid-combine.svg"
        alt="Ekuid"
        style="width: 100px"
      />
    </header>

    <!-- CONTENT -->
    <main class="container" style="padding: 0">
      <img
        src="https://storage.googleapis.com/ekuid-assets/Email%20Assets/sre-register-failed.svg"
        alt="Pendaftaran SRE Ditolak"
        class="main-image"
        style="width: 100%"
      />

      <section class="content" style="padding: 0 30px; margin: 48px 0">
        <h2
          style="
            margin: 0;
            font-family: 'Mulish', sans-serif;
            color: #243962;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 100%;
          "
        >
          Hai <%= firstName %>,
        </h2>
        <p
          style="
            margin: 0;
            margin-top: 24px;
            color: #69758b;
            font-family: 'Mulish', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.238px;
          "
        >
          Terima kasih sudah sabar menunggu proses Verifikasi Akun SRE kamu, ya!
          Sayang sekali, nih! Verifikasi Akun Rekening SRE kamu belum berhasil
          karena adanya ketidaksesuaian data, seperti di bawah ini:<br /><br />

          <b><%= rejectedReason %></b><br /><br />

          Jangan khawatir, ya! Perbaiki data diri kamu melalui halaman Profil di
          Aplikasi EKUID sekarang karena peluang investasi sudah di depan mata.
          Jika ada pertanyaan, jangan ragu untuk menghubungi tim kami melalui
          tombol WhatsApp di bawah, ya!
        </p>

        <div style="margin-bottom: 48px; text-align: center">
          <a
            target="_blank"
            href="https://ekuidpro.page.link/download?utm_source=brevo&utm_campaign=Ekuid - Pendaftaran SRE Ditolak SRE Gagal&utm_medium=email"
          >
            <button
              class="main-btn"
              style="
                border-radius: 60px;
                border: 1px solid #005b9c;
                background: #005b9c;
                display: inline-flex;
                padding: 16px 32px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: #fff;
                font-family: 'Anek Bangla', sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 0.48px;
                margin-top: 58px;
              "
            >
              Perbaiki Data Diri
            </button>
          </a>
        </div>
      </section>
    </main>

    <!-- FOOTER -->
    <footer
      class="footer"
      style="
        background-color: #1f335b;
        color: white;
        text-align: center;
        padding: 34px 40px;
      "
    >
      <div
        class="footer-wrap"
        style="
          background-color: #29406d;
          padding: 27px 36px;
          border-radius: 8px;
        "
      >
        <div
          class="social-icons"
          style="display: flex; justify-content: center; gap: 8px"
        >
          <a
            href="https://www.instagram.com/ekuidofficial"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="instagram-icon"
          >
            <img
              src="https://storage.googleapis.com/ekuid-assets/Assets/instagram.svg"
              alt="Instagram"
              style="width: 40px"
            />
          </a>

          <a
            href="https://www.linkedin.com/company/ekuid"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="linkedIn-icon"
          >
            <img
              src="https://storage.googleapis.com/ekuid-assets/Assets/linked-in.svg"
              alt="LinkedIn"
              style="width: 40px"
            />
          </a>

          <a
            href="https://www.tiktok.com/@ekuid"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="tiktok-icon"
          >
            <img
              src="https://storage.googleapis.com/ekuid-assets/Assets/tiktok.svg"
              alt="TikTok"
              style="width: 40px"
            />
          </a>
        </div>

        <h2
          style="
            margin: 0;
            font-family: 'Anek Bangla', sans-serif;
            color: white;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
            letter-spacing: 0.306px;
            margin-top: 10px;
          "
        >
          Download Aplikasi:
        </h2>

        <div
          class="download-buttons"
          style="
            display: flex;
            justify-content: center;
            margin-top: 8px;
            gap: 8px;
          "
        >
          <a
            href="https://apps.apple.com/us/app/ekuid/id1607289110"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="appstore-logo"
          >
            <img
              src="https://storage.googleapis.com/ekuid-assets/Assets/app-store-v2.svg"
              alt="Download on the App Store"
              class="right"
              style="width: 135px"
            />
          </a>

          <a
            href="https://play.google.com/store/apps/details?id=com.ekuid.android.production"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="playstore-logo"
          >
            <img
              src="https://storage.googleapis.com/ekuid-assets/Assets/play-store-v2.svg"
              alt="Get it on Google Play"
              style="width: 135px"
            />
          </a>
        </div>

        <div
          class="disclaimer"
          style="
            background-color: #1f335b;
            padding: 40px;
            border-radius: 8px;
            margin: 20px auto;
            max-width: 600px;
            text-align: left;
          "
        >
          <p
            style="
              margin: 0;
              color: #fff;
              font-family: 'Mulish', sans-serif;
              font-size: 10px;
              font-style: normal;
              font-weight: 400;
              line-height: 150%;
            "
          >
            <strong style="font-weight: 700 !important">Perhatian:</strong>
            Ekuid adalah platform investasi dengan risiko tinggi. Pastikan kamu
            sudah memahami profil risikomu. Harap mempertimbangkan secara
            hati-hati setiap kamu melakukan investasi di Ekuid. Pastikan
            keputusan investasi kamu adalah keputusan yang kamu buat sendiri dan
            tidak ada unsur paksaan dari pihak manapun. Ekuid tidak pernah
            memaksa kamu untuk melakukan investasi di platform kami. Ekuid tidak
            bertanggung jawab atas segla bentuk risiko kerugian dan gugatan
            hukum serta hal lain yang timbul di kemudian hari.
          </p>
        </div>

        <p
          class="auto-email"
          style="
            margin: 0;
            margin-top: 24px;
            opacity: 0.8;
            font-family: 'Open Sans', sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.17px;
          "
        >
          Ini adalah e-mail otomatis, mohon untuk tidak membalas e-mail ini.
        </p>

        <p
          class="address"
          style="
            margin: 0;
            margin-top: 24px;
            opacity: 0.8;
            font-family: 'Open Sans', sans-serif;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.17px;
          "
        >
          Jl. Ciniru III No.2, RT.2/RW.3, Rawa Barat, Kecamatan Kebayoran Baru,
          Jakarta Selatan 12180, Indonesia
        </p>
      </div>
    </footer>
  </body>
</html>
